<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QuanLyThiTracNgiemEntities" connectionString="metadata=res://*/QuanLyThiTracNgiemSQL.csdl|res://*/QuanLyThiTracNgiemSQL.ssdl|res://*/QuanLyThiTracNgiemSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7H1PG1MJ\MSSQLSERVER01;initial catalog=QuanLyThiTracNgiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyThiTracNgiemEntities1" connectionString="metadata=res://*/QuanLyThiTracNghiem.csdl|res://*/QuanLyThiTracNghiem.ssdl|res://*/QuanLyThiTracNghiem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7H1PG1MJ\MSSQLSERVER01;initial catalog=QuanLyThiTracNgiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>