<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QuanLyThiTracNgiemEntities" connectionString="metadata=res://*/QuanLyThiTracNgiemSQL.csdl|res://*/QuanLyThiTracNgiemSQL.ssdl|res://*/QuanLyThiTracNgiemSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7H1PG1MJ\MSSQLSERVER01;initial catalog=QuanLyThiTracNgiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyThiTracNgiemEntities1" connectionString="metadata=res://*/QuanLyThiTracNghiem.csdl|res://*/QuanLyThiTracNghiem.ssdl|res://*/QuanLyThiTracNghiem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7H1PG1MJ\MSSQLSERVER01;initial catalog=QuanLyThiTracNgiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CuoiKy_OOPEntities" connectionString="metadata=res://*/1.csdl|res://*/1.ssdl|res://*/1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUSGHE;initial catalog=CuoiKy_OOP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CuoiKy_OOPEntities1" connectionString="metadata=res://*/CuoiKy_OOP.csdl|res://*/CuoiKy_OOP.ssdl|res://*/CuoiKy_OOP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7H1PG1MJ\MSSQLSERVER01;initial catalog=CuoiKy_OOP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CuoiKy_OOPEntities2" connectionString="metadata=res://*/CuoiKy_OOP.csdl|res://*/CuoiKy_OOP.ssdl|res://*/CuoiKy_OOP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-APT8J1L;initial catalog=CuoiKy_OOP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CuoiKy_OOPEntities3" connectionString="metadata=res://*/CuoiKy_OOP.csdl|res://*/CuoiKy_OOP.ssdl|res://*/CuoiKy_OOP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUSGHE;initial catalog=CuoiKy_OOP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>